<!doctype html>
<html lang="en">
<head>
    {% block head %}
    <title>{% block title %}{% endblock %} - CUBBITT fixer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    </script>
    <script src="{{ url_for('static', filename='js/main.js') }}"  type=text/javascript></script>

    {% endblock %}
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
