{% extends "layout.html" %}
{% block title %}Web demo{% endblock %}

{% block content %}
<div id="loader">Loading&#8230;</div>

<main class="container">
    <h1>CUBBITT fixer - web demo</h1>

    <form id="translate">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="sourceLanguage">Source language</label>
                <select id="sourceLanguage" class="form-control">
                    <option value="cs" selected>Czech</option>
                    <option value="en">English</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="targetLanguage">Target language</label>
                <select id="targetLanguage" class="form-control">
                    <option value="cs">Czech</option>
                    <option value="en" selected>English</option>
                </select>
            </div>
        </div>
        <div class="mb-3">
            <label for="inputText" class="form-label">Text to translate</label>
            <textarea id="inputText" rows="5" class="form-control"></textarea>
        </div>
        <div class="form-row align-items-center justify-content-center mb-3 text-center">
            <div class="col-md-auto col-sm-12 form-check">
                <div class="custom-control custom-checkbox mr-sm-2">
                    <input type="checkbox" class="custom-control-input" id="units" checked>
                    <label class="custom-control-label" for="units">Numbers with units</label>
                </div>
            </div>
            <div class="col-md-auto col-sm-12  form-check">
                <div class="custom-control custom-checkbox mr-sm-2">
                    <input type="checkbox" class="custom-control-input" id="separators" checked>
                    <label class="custom-control-label" for="separators">Decimal & thousands separator</label>
                </div>
            </div>
            <div class="col-md-auto col-sm-12  form-check">
                <div class="custom-control custom-checkbox mr-sm-2">
                    <input type="checkbox" class="custom-control-input" id="names">
                    <label class="custom-control-label" for="names">Proper names</label>
                </div>
            </div>
            <div class="form-inline justify-content-center col-sm-12 col-md-auto">
                <div class="form-group">
                    <input type="number" min="0" max="100" step="1" class="form-control  mr-sm-2" id="tolerance" value="10">
                    <label for="tolerance">Basic tolerance [%]</label>
                </div>
            </div>

        </div>
        <div class="form-row align-items-center justify-content-center mb-3 ">
            <div class="col-auto form-check">
                <div class="custom-control custom-checkbox mr-sm-2">
                    <input type="checkbox" class="custom-control-input" id="recalculate">
                    <label class="custom-control-label" for="recalculate">Recalculate numbers</label>
                </div>
            </div>
        </div>
        <div class="form-row mb-3" id="recalculateFields">
            <div class="form-group col-md-4">
                <label for="distances">Distance & area & weight</label>
                <select id="distances" class="form-control">
                    <option value="si" selected>SI</option>
                    <option value="imperial">IMPERIAL</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="currency">Currency</label>
                <select id="currency" class="form-control">
                    <option value="CZK" selected>CZK</option>
                    <option value="USD">USD</option>
                    <option value="GBP">GBP</option>
                    <option value="EUR">EUR</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="temperature">Temperature</label>
                <select id="temperature" class="form-control">
                    <option value="C" selected>° C</option>
                    <option value="F">° F</option>
                </select>
            </div>
        </div>
        <div class="form-row align-items-center justify-content-center">
            <div class="col-md-6 text-center">
                <div class="custom-control custom-checkbox mr-sm-2">
                    <input type="checkbox" class="custom-control-input" id="proximity">
                    <label class="custom-control-label" for="proximity">Consider proximity</label>
                </div>
            </div>
            <div class="col-md-6 form-inline justify-content-center" >
                <div class="form-group" id="proximityFields">
                    <input type="number" min="0" max="100" step="1" class="form-control mr-sm-2" id="proximityTolerance" value="20">
                    <label for="proximityTolerance">Tolerance for proximity [%]</label>
                </div>
            </div>
        </div>
        <div class="form-row float-right">
            <button type="submit" class="btn btn-primary mb-3">Translate</button>
        </div>
    </form>

    <h2>Translations</h2>

    <section class="mb-3">
        <h3>Original</h3>
        <label for="originalTranslation" class="form-label visually-hidden">Original translation</label> (
        <div class="form-check form-check-inline mr-0">
            <input  class="form-check-input" type="checkbox" value="custom-original-translation" id="customOriginalTranslation"/>
            <label class="form-check-label" for="customOriginalTranslation">Custom original translation</label>&nbsp;
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle-fill" viewBox="0 0 16 16" data-toggle="tooltip" data-placement="top" title="Please use this functionality only for fixing single sentences.">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
            </svg>
        </div>
        ):
        <textarea id="originalTranslation" rows="5" class="form-control" disabled></textarea>
    </section>

    <section>
        <h3>After postprocessing</h3>
        <label for="afterPostprocessingTranslation" class="form-label visually-hidden">Translation after post
            processing:</label>
        <textarea id="afterPostprocessingTranslation" rows="5" class="form-control" disabled></textarea>
    </section>
</main>
{% endblock %}